<% layout('layouts/boilerPlate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link rel="stylesheet" href="/stylesheets/map.css">

<div class="container d-flex flex-row justify-content-center mb-4 row">

    <div class="card col-6">
        <div id="CampgroundCarousel" class="carousel slide">
            <div class="carousel-inner">
                <% campground.images.forEach((img,i)=> { %>
                <div class="carousel-item <%= (i==0) ? 'active':'' %>">
                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                </div>
                <% }) %>
            </div>
            <% if(campground.images.length > 1){ %>
            <button class="carousel-control-prev" type="button" data-bs-target="#CampgroundCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#CampgroundCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="card-text text-muted"><%= campground.location %></p>
            </li>
            <li class="list-group-item">
                <p class="card-text">$<%= campground.price %>/night</p>
            </li>
            <% if(currentUser && campground.author._id.equals(currentUser._id) ){ %>
            <li class="list-group-item">
                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-info">Edit Campground</a>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" class="d-inline-block" method="POST">
                    <button class="btn btn-sm btn-danger d-inline-block">Delete campground</button>
                </form>
            </li>
            <% }%>
        </ul>
        <div class="card-footer text-muted">2 days ago</div>
        <div class="card-footer">suggested by: <%= campground.author.username %></div>
    </div>

    <div class="col-4 mx-3 my-2 d-flex flex-column">
        <div id="map"></div>
        <div class="mt-5 border rounded p-4">
        <% if(currentUser){ %>
            <div class="mb-5">
            <h2>Leave a review</h2>
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="validation-form mt-2"
                novalidate>
                <div class="mb-3">
                    <label class="d-inline" for="ratings">Rating </label>
                    <fieldset class="starability-basic ">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="0"
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[ratings]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[ratings]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[ratings]" value="3" checked />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[ratings]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[ratings]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <label for="body">Review</label>
                    <textarea class="mb-3 form-control" id="body" name="review[body]" required></textarea>
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            </div>
        <% }else{ %>
            <p>Log in to leave a review</p>
        <% } %>

        </div>
        <div class="">
            <% for(let review of campground.reviews){ %>
            <div class="border rounded p-3 m-2 ">
                <div class="mb-1 h4"><%= review.author.username %></div>
                <div class="mb-2">
                    <p class="starability-result" data-rating="<%= review.ratings%>">
                        Rated: 3 stars
                    </p>
                </div>
                <p><%= review.body%></p>
                <% if(currentUser && review.author._id.equals(currentUser._id) ){ %>
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-danger btn-sm mt-2"> delete </button>
                </form>
                <% } %>
            </div>
            <% } %>    
        </div>
    </div>

</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    const lat = '<%-campground.lat%>';
    const lon = '<%-campground.lon%>';
    const popupContent = "<h6><%= campground.title %></h6><p><%= campground.location %></p>";
</script>
<script src="/javascripts/showPageMaps.js"></script>