<% layout('layouts/boilerPlate') %>

<h1> <%= campground.title %> </h1>
<p> <%= campground.location %></p>
<img src="<%= campground.image %>" style="width: 20%;" alt="">
<p> <%= campground.description %> </p>
<p> $<%= campground.price %></p>

<a class="btn btn-secondary" href="/campground/<%= campground._id %>/edit">edit campground</a>
<a class="btn btn-primary" href="/campgrounds">back to index</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete campground</button>
</form>