<!-- <% layout('layouts/boilerPlate') %>

<h1> <%= campground.title %> </h1>
<p> <%= campground.location %></p>
<img src="<%= campground.image %>" style="width: 20%;" alt="">
<p> <%= campground.description %> </p>
<p> $<%= campground.price %></p>

<a class="btn btn-secondary" href="/campground/<%= campground._id %>/edit">edit campground</a>
<a class="btn btn-primary" href="/campgrounds">back to index</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete campground</button>
</form> -->

<div class="container d-flex flex-row justify-content-center mb-4 row">
    <div class="card col-6">
        <img src="<%= campground.image %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="card-text text-muted"><%= campground.location %></p>
            </li>
            <li class="list-group-item">
                <p class="card-text">$<%= campground.price %>/night</p>
            </li>
            <% if(currentUser && campground.author._id.equals(currentUser._id) ){ %>
            <li class="list-group-item">
                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-info">Edit Campground</a>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" class="d-inline-block" method="POST">
                    <button class="btn btn-sm btn-danger d-inline-block">Delete campground</button>
                </form>
            </li>
            <% }%>
        </ul>
        <div class="card-footer text-muted">2 days ago</div>
        <div class="card-footer">suggested by: <%= campground.author.username %></div>
    </div>
    <div class="col-4 mx-3 my-2">
        <% if(currentUser){ %>
        <div class="mb-5">
            <h2>Leave a review</h2>
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="validation-form mt-2"
                novalidate>
                <div class="mb-3">
                    <label class="d-inline" for="ratings">Rating </label>
                    <input type="range" min="1" max="5" style="width: 10rem;" class="form-control d-inline mx-3"
                        id="ratings" name="review[ratings]">
                </div>
                <label for="body">Review</label>
                <textarea class="mb-3 form-control" id="body" name="review[body]" required></textarea>
                <button class="btn btn-success">submit</button>
            </form>
        </div>
        <% } %>
        <div class="mx-auto">
            <% for(let review of campground.reviews){ %>
            <div class="border rounded p-3 m-2 ">
                <div class="mb-2">Ratings: <%= review.ratings %></div>
                <div class="mb-1 h6"><i>by- <%= review.author.username %></i></div>
                <div class="blockquote"><%= review.body%></div>
                <% if(currentUser && review.author._id.equals(currentUser._id) ){ %>
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-danger btn-sm mt-2"> delete </button>
                </form>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>

</div>